version: "3.9"
services:
  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
  web:
    build:
        context: .
        dockerfile: Dockerfile
    command: bin/start-dev-server
    volumes:
      - .:/turdle
    ports:
      - "3000:3000"
    depends_on:
      - db
  lsp:
    build:
        context: .
        dockerfile: Dockerfile
    command: solargraph socket --host=0.0.0.0
    volumes:
      - .:/turdle
    ports:
      - "7658:7658"
